@custom-media --desktop-device screen and (width >= 1024px);
@custom-selector :--heading h1,h2,h3,h4,h5,h6;

$orangeColor: #ff4500;
$whiteColor: #fff;
$blackColor: #0e1317;
$yellowColor: #F3B30D;
$lightGrayColor: #a0aec0;
$grayColor: #4a5568;
$bg0Color: #a0aec0;
$bg1Color: #edf2f7;
$bg2Color: #151515;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: 1200px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$fontHeading: "Poppins", sans-serif;
$fontBody: "Roboto", sans-serif;