@custom-media --desktop-device screen and (width >= 1024px);
@custom-selector :--heading h1,h2,h3,h4,h5,h6;

$orangeColor: hsla(16, 100%, 50%, 1);
$orangeColorA: hsla(16, 100%, 50%, 0.8);
$whiteColor: hsl(207, 0%, 100%);
$blackColor: hsl(207, 24%, 7%);
$blackColorA: hsla(0,0%,0%, 0.8);
$yellowColor: hsla(43, 91%, 50%, 1);
$yellowColorA: hsla(43, 91%, 50%, 0.8);
$lightGrayColor: hsl(214, 20%, 69%);
$grayColor: hsl(218, 17%, 35%);
$bg1Color: hsl(210, 38%, 95%);
$bg2Color: hsl(199, 90%, 4%);

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: 1200px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$rounded: 1rem;

$fontHeading: "Poppins", sans-serif;
$fontBody: "Roboto", sans-serif;