---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import { BackgroundImage } from "astro-imagetools/components";

import Layout from '../layouts/Layout.astro';
import CarouselProjects from '../components/CarouselProjects.astro';

import photoImage from "../assets/images/photo.jpg";
---

<Layout>

	<div class="scroll-wrapper" data-scroller>
		<section data-section class="scroll-section" id="main" data-anchor="main">
			<BackgroundImage
				src="/src/assets/images/bg_main.jpg"
				format={["avif", "webp"]}
				backgroundSize="cover"
				backgroundPosition="0 0"
			>
				<div class="h-full wrapper-firefly">
					<div class="container">
						<div>
							<div class="main-logo">
								<svg id="logo" viewBox="0 0 388 323" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 162L65 94L151 213L272 12L380 108L157 317L10 162Z" fill="#FF4500" stroke="#FF4500" />
									<path d="M4.48412 1L7.2429 318.998" stroke="white" stroke-width="14" />
									<line x1="131.731" y1="3.18857" x2="6.73132" y2="159.189" stroke="white"
										stroke-width="7" />
									<line x1="7.47708" y1="162.426" x2="157.477" y2="318.426" stroke="white"
										stroke-width="7" />
									<path d="M154.617 320.437L383 106" stroke="white" stroke-width="7" />
									<line x1="385.656" y1="108.599" x2="273.656" y2="7.59923" stroke="white"
										stroke-width="7" />
									<line x1="273" y1="3.1971" x2="151" y2="206.197" stroke="white" stroke-width="7" />
									<line x1="151.166" y1="210.054" x2="64.1664" y2="90.0544" stroke="white"
										stroke-width="7" />
								</svg>
							</div>
						</div>
						<div class="main-text comment-block">
							<div>
								<h3>
									Hello, I&apos;m Valeria Kan!
								</h3>
								<p>
									A passionate Full Stack Developer based in Edmonton, Canada.<br />
									I'm enthusiastic about the possibilities that lie ahead in the tech world, and I'm eager to collaborate, learn, and grow.<br />
									Let's build something great together!
								</p>
							</div>
						</div>
					</div>
				</div>
			</BackgroundImage>
		</section>

		<section data-section class="scroll-section adapt-height" id="works" data-anchor="works">
			<div class="container">
				<h2>My Projects</h2>
				<CarouselProjects />
			</div>
		</section>

		<section data-section class="scroll-section adapt-height2" id="about" data-anchor="about">
			<div class="container">
				<h2>About me</h2>
				<div class="about-content">
					<div class="about-text">
						<p>
							Hi there! I'm Valeria, a passionate and enthusiastic Web Developer with over 3 years of dedicated study and freelancing experience. I thrive on creating beautiful web experiences, leveraging a diverse set of skills acquired throughout my journey.
						</p>
						<p>
							Over the past 2 years, I've immersed myself in various projects, honing my expertise in web development. My primary focus is always on understanding customers' needs, delivering a comfortable interface, maintaining clean code, and ensuring professional performance.
						</p>
						<p>
							Beyond the world of coding, I've discovered another passion: organizing events for kids. This led me to establish my own event agency, dedicated to spreading joy and happiness. This unique perspective has given me a profound understanding of what it takes for local businesses to succeed online. I believe in the power of blending creativity with technical precision, and I am excited about the endless possibilities that web development offers.
						</p>
						
						<a href="\cv_valeria_kan_web_developer.pdf" class="about-link" target="_blank">
							See My Resume
						</a>
						
						<h3>My Skills</h3>
						{/*
						<p>
							I use a number of tools that make design and development much easier.
						</p>
						 */}
						<p>
							<span class="about-skill">Web App Development:</span>
							HTML5, CSS3, SASS/LESS, JavaScript, TypeScript, React, Redux, Astro, Next.js, Node.js, PHP, jQuery, GULP, WebPack, Vite, Bootstrap, Material UI, Tailwind CSS, PostCSS
						</p>
						<p>
							<span class="about-skill">Databases:</span>
							MySQL, MongoDB, PostgreSQL, FireBase
						</p>
						<p>
							<span class="about-skill">Testing:</span>
							Jest, Selenium, React Testing Library, Postman
						</p>
						<p>
							<span class="about-skill">DevOps:</span>
							Git/GitHub, CI/CD
						</p>
						<p>
							<span class="about-skill">UI design, Graphic design and Prototyping:</span>
							Figma, Adobe Photoshop
						</p>
						{/*
						<p>
							<span class="about-skill">Other:</span>
							Google Apps(Docs, sheets, slides and forms), Google Analytics, Google Optimize
						</p>
						 */}
					</div>
					<div class="about-img">
						<Image src={photoImage} alt="my photo picture" format="avif" />
					</div>
				</div>
			</div>
		</section>

		<section data-section class="scroll-section" id="contact" data-anchor="contact">
			<BackgroundImage
				src="/src/assets/images/bg_contact.jpg"
				format={["avif", "webp"]}
				backgroundSize="cover"
				backgroundPosition="0 0"
			>
				<div class="h-full">
					<div class="container contacts-content">
						<h2>Contacts</h2>

						<div class="contacts-info">
							<a href="mailto:Kan.Valeria1309@gmail.com" target="_blank">
								<Icon name="eva:email-outline" width="30px" height="30px" />
								<span>Kan.Valeria1309@gmail.com</span>
							</a>
							<a href="https://www.linkedin.com/in/valeria-kan" target="_blank">
								<Icon name="eva:linkedin-fill" width="30px" height="30px" />
								LinkedIn.com/in/Valeria-Kan
							</a>
							<a href="https://github.com/Lerik13" target="_blank">
								<Icon name="eva:github-fill" width="30px" height="30px" />
								GitHub.com/Lerik13
							</a>
						</div>

						<div class="comment-block contacts-comment">
							<div>
								<p>
									I'm always open to collaborating with fellow developers and designers to create innovative and impactful solutions. If you have an interesting project or idea, let's connect and bring it to life together! 👋
								</p>
							</div>
						</div>
					</div>
				</div>
			</BackgroundImage>
		</section>
	</div>

</Layout>

<script>
	/* import "../js/firefly.js" */
</script>