---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import { BackgroundImage } from "astro-imagetools/components";

import Layout from '../layouts/Layout.astro';
import CarouselProjects from '../components/CarouselProjects.astro';

import photoImage from "../assets/images/photo.jpg";
---

<Layout>

	<div class="scroll-wrapper">
		<section class="scroll-section" id="main" data-anchor="main">
			<BackgroundImage
				src="/src/assets/images/bg_main.jpg"
				format={["avif", "webp"]}
				backgroundSize="cover"
				backgroundPosition="0 0"
			>
				<div class="h-full wrapper-firefly">
					<div class="container">
						<div>
							<div class="main-logo">
								<svg id="logo" viewBox="0 0 388 323" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 162L65 94L151 213L272 12L380 108L157 317L10 162Z" fill="#FF4500" stroke="#FF4500" />
									<path d="M4.48412 1L7.2429 318.998" stroke="white" stroke-width="14" />
									<line x1="131.731" y1="3.18857" x2="6.73132" y2="159.189" stroke="white"
										stroke-width="7" />
									<line x1="7.47708" y1="162.426" x2="157.477" y2="318.426" stroke="white"
										stroke-width="7" />
									<path d="M154.617 320.437L383 106" stroke="white" stroke-width="7" />
									<line x1="385.656" y1="108.599" x2="273.656" y2="7.59923" stroke="white"
										stroke-width="7" />
									<line x1="273" y1="3.1971" x2="151" y2="206.197" stroke="white" stroke-width="7" />
									<line x1="151.166" y1="210.054" x2="64.1664" y2="90.0544" stroke="white"
										stroke-width="7" />
								</svg>
							</div>
						</div>
						<div class="main-text comment-block">
							<div>
								<h3>
									Hello, I&apos;m Valeria Kan!
								</h3>
								<p class="text-hello__content">
									A passionate Front End Developer based in Edmonton, Canada.
								</p>
							</div>
						</div>
					</div>
				</div>
			</BackgroundImage>
		</section>

		<section class="scroll-section adapt-height" id="works" data-anchor="works">
			<div class="container">
				<h2>Few My Projects</h2>
				<CarouselProjects />
			</div>
		</section>

		<section class="scroll-section adapt-height" id="about" data-anchor="about">
			<div class="container">
				<h2>About me</h2>
				<div class="about-content">
					<div class="about-text">
						<p>Hi &hellip; I&apos;m a passionate, enthusiastic and professional Web Developer who loves creating and developing beautiful web experiences using all the skills I&apos;ve acquired over 4 years of dedication to studying and freelancing.
						</p>
						<p>During last 2 years I&apos;ve been working on many various projects to polish my skills in web development. Building a successful product is a challenge. My main approach is focusing on comfortable interface, clean code and professional performance.
						</p>
						<p>In the outside of coding, I found my passion in kids parties, so I&apos;ve organized my event agency for bringing joy and happiness. I deeply understand what it takes for local business to succeed online.
						</p>
						
						<a href="\cv_valeria_kan_web_developer.pdf" class="about-link" target="_blank">
							See My Resume
						</a>
						
						<h3>My Skills</h3>
						<p>
							I use a number of tools that make design and development much easier.
						</p>
						<p>
							<span class="about-skill">Web App Development:</span>
							HTML5, CSS3, SASS/LESS, React, Astro, Next.js, Redux, JSON, jQuery, GULP, WebPack, Vite, Bootstrap, Material UI, Tailwind CSS, PostCSS
						</p>
						<p>
							<span class="about-skill">Languages:</span>
							JavaScript, TypeScript, Node.js, PHP
						</p>
						<p>
							<span class="about-skill">Databases:</span>
							MySQL, MongoDB, PostgreSQL, FireBase
						</p>
						<p>
							<span class="about-skill">Testing:</span>
							Jest, Selenium, React Testing Library, Postman
						</p>
						<p>
							<span class="about-skill">DevOps:</span>
							Git/GitHub, CI/CD
						</p>
						<p>
							<span class="about-skill">UI design, Graphic design and Prototyping:</span>
							Figma, Adobe Photoshop
						</p>
						<p>
							<span class="about-skill">Other:</span>
							Google Apps(Docs, sheets, slides and forms), Google Analytics, Google Optimize
						</p>
					</div>
					<div class="about-img">
						<Image src={photoImage} alt="my photo picture" format="avif" />
					</div>
				</div>
			</div>
		</section>
		<section class="scroll-section" id="contact" data-anchor="contact">
			<BackgroundImage
				src="/src/assets/images/bg_contact.jpg"
				format={["avif", "webp"]}
				backgroundSize="cover"
				backgroundPosition="0 0"
			>
				<div class="h-full">
					<div class="container contacts-content">
						<h2>Contacts</h2>

						<div class="contacts-info">
							<a href="mailto:Kan.Valeria1309@gmail.com" target="_blank">
								<Icon name="eva:email-outline" width="30px" height="30px" />
								<span>Kan.Valeria1309@gmail.com</span>
							</a>
							<a href="https://www.linkedin.com/in/valeria-kan" target="_blank">
								<Icon name="eva:linkedin-fill" width="30px" height="30px" />
								LinkedIn.com/in/Valeria-Kan
							</a>
							<a href="https://github.com/Lerik13" target="_blank">
								<Icon name="eva:github-fill" width="30px" height="30px" />
								GitHub.com/Lerik13
							</a>
						</div>

						<div class="comment-block contacts-comment">
							<div>
								<p class="text-hello__content">
									Please let me know if you have any idea for linking up with me.<br> I&apos;d love to hear from you :)
								</p>
							</div>
						</div>
					</div>
				</div>
			</BackgroundImage>
		</section>
	</div>

</Layout>

<script>
	/* import "../js/firefly.js" */
</script>../data/projectsData