---
---
<nav>
	<div class="container">
		<ul>
			<li><a href="/#home" class="active">Main</a></li>
			<li><a href="/#works">Works</a></li>
			<li><a href="/#about">About</a></li>
			<li><a href="/#contact">Contact</a></li>
		</ul>
	</div>
</nav>

<script>
	{/*
		import "../js/nav.js"
	*/}
</script>